<%- include('../header.ejs'); -%>
<main class="mainL">
  <div class="swiperDiv">
    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide slider-1">
          <div class="overlay1"></div>
          <h2>Mahapravu Furniture</h2>
          <h4>
            <br />
            <div class="console-container">
              <span class="dynamic" id="text"></span>
              <div
                class="console-underscore"
                id="console"
                style="
                  color: #fff;
                  font-size: 1.5rem;
                  font-style: italic;
                  font-family: Georgia, serif;
                "
              >
                Owner Mr: Asit Santra
              </div>
            </div>
          </h4>
          <picture>
            <source srcset="/image/auto/f1.webp" type="image/webp" />
            <source srcset="/image/auto/f1-min.jpg" type="image/jpg" />
            <img src="/image/auto/f1-min.jpg" alt="swiper_img" srcset="" />
          </picture>
        </div>
        <div class="swiper-slide slider-2">
          <div class="overlay1"></div>
          <h2>Mahapravu Furniture</h2>
          <!-- <h4>Thanks for visiting us</h4> -->

          <picture>
            <source srcset="/image/auto/f2.webp" type="image/webp" />
            <source srcset="/image/auto/f2-min.jpg" type="image/jpg" />
            <img src="/image/auto/f2-min.jpg" alt="swiper_img" srcset="" />
          </picture>
        </div>
        <div class="swiper-slide slider-3">
          <div class="overlay1"></div>
          <h2>Mahapravu Furniture</h2>
          <!-- <h4>Thanks for visiting us</h4> -->
          <picture>
            <source srcset="/image/auto/f3.webp" type="image/webp" />
            <source srcset="/image/auto/f3-min.jpg" type="image/jpg" />
            <img src="/image/auto/f3-min.jpg" alt="swiper_img" srcset="" />
          </picture>
        </div>
        <div class="swiper-slide slider-4">
          <div class="overlay1"></div>
          <h2>Mahapravu Furniture</h2>
          <!-- <h4>Thanks for visiting us</h4> -->
          <picture>
            <source srcset="/image/auto/f4.webp" type="image/webp" />
            <source srcset="/image/auto/f4-min.jpg" type="image/jpg" />
            <img src="/image/auto/f4-min.jpg" alt="swiper_img" srcset="" />
          </picture>
        </div>
        <div class="swiper-slide slider-5">
          <div class="overlay1"></div>
          <h2>Mahapravu Furniture</h2>
          <!-- <h4>Thanks for visiting us</h4> -->
          <picture>
            <source srcset="/image/auto/f5.webp" type="image/webp" />
            <source srcset="/image/auto/f5-min.jpg" type="image/jpg" />
            <img src="/image/auto/f5-min.jpg" alt="swiper_img" srcset="" />
          </picture>
        </div>
        <div class="swiper-slide slider-6">
          <div class="overlay1"></div>
          <h2>Mahapravu Furniture</h2>
          <!-- <h4>Thanks for visiting us</h4> -->
          <picture>
            <source srcset="/image/auto/f6.webp" type="image/webp" />
            <source srcset="/image/auto/f6-min.jpg" type="image/jpg" />
            <img src="/image/auto/f6-min.jpg" alt="swiper_img" srcset="" />
          </picture>
        </div>
        <div class="swiper-slide slider-7">
          <div class="overlay1"></div>
          <h2>Mahapravu Furniture</h2>
          <!-- <h4>Thanks for visiting us</h4> -->
          <picture>
            <source srcset="/image/auto/f7.webp" type="image/webp" />
            <source srcset="/image/auto/f7-min.jpg" type="image/jpg" />
            <img src="/image/auto/f7-min.jpg" alt="swiper_img" srcset="" />
          </picture>
        </div>
        <div class="swiper-slide slider-8">
          <div class="overlay1"></div>
          <h2>Mahapravu Furniture</h2>
          <!-- <h4>Thanks for visiting us</h4> -->
          <picture>
            <source srcset="/image/auto/f8.webp" type="image/webp" />
            <source srcset="/image/auto/f8-min.jpg" type="image/jpg" />
            <img src="/image/auto/f8-min.jpg" alt="swiper_img" srcset="" />
          </picture>
        </div>
        <div class="swiper-slide slider-9">
          <div class="overlay1"></div>
          <h2>Mahapravu Furniture</h2>
          <!-- <h4>Thanks for visiting us</h4> -->
          <picture>
            <source srcset="/image/auto/f9.webp" type="image/webp" />
            <source srcset="/image/auto/f9-min.jpg" type="image/jpg" />
            <img src="/image/auto/f9-min.jpg" alt="swiper_img" srcset="" />
          </picture>
        </div>
        <div class="swiper-slide slider-10">
          <div class="overlay1"></div>
          <h2>Mahapravu Furniture</h2>
          <!-- <h4>Thanks for visiting us</h4> -->
          <picture>
            <source srcset="/image/auto/f10.webp" type="image/webp" />
            <source srcset="/image/auto/f10-min.jpg" type="image/jpg" />
            <img src="/image/auto/f10-min.jpg" alt="swiper_img" srcset="" />
          </picture>
        </div>
      </div>
      <div class="swiper-button-next" style="color: #fff"></div>
      <div class="swiper-button-prev" style="color: #fff"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <!--=======================
            intro
    =============================== -->
  <section class="section section-hero">
    <div class="container grid grid-two-colum">
      <div class="section-hero-data">
        <p class="hero-top-data">My shop</p>
        <h1 class="hero-heading">Mahapravu Furniture</h1>
        <p class="hero-para">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam,
          tenetur. Harum, nam cupiditate, necessitatibus quasi possimus non,
          maxime vitae expedita tenetur ullam quos libero dignissimos atque ea?
          A, labore ut!
        </p>
        <a href="" class="btnL Here me">Here me</a>
      </div>
      <!-- hero section rigth side -->
      <div>
        <div class="hero-section-img">
          <picture>
            <source srcset="image/shop.webp" type="image/webp" />
            <source srcset="image/shop-min.jpg" type="image/jpg" />
            <img
              loading="lazy"
              class="hero-img"
              src="/image/shop-min.jpg"
              alt="open_img"
            />
          </picture>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- =============
  our about section start
====================== -->
<section class="section-about">
  <div class="container grid grid-one-colum">
    <div class="about" id="about">
      <h2 class="about-heading">About</h2>
      <p style="padding-right: 6rem">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam at,
        nostrum numquam facilis expedita ea hic? Animi doloremque iste unde,
        tempora nam deserunt eius eaque, dolorem, expedita accusantium eligendi.
        Sunt?
      </p>
    </div>
  </div>
</section>
<section class="section-services">
  <div class="service">
    <h2 class="service-heading">Service</h2>
    <p style="padding-right: 6rem">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero
      voluptates voluptatem, ipsa quo animi at corrupti neque velit consequuntur
      explicabo minima commodi ad reiciendis a repellendus architecto
      consectetur odit aspernatur?
    </p>
  </div>
  <!-- services card -->
  <div class="container grid grid-four-colum">
    <div class="service-box">
      <img src="./image/services/table.png" alt="furniture" srcset="" />
      <h3>Table</h3>
      <!-- <p>sleep good for helth</p> -->
    </div>
    <div class="service-box">
      <img src="./image/services/chair.png" alt="furniture" srcset="" />
      <h3>Chair</h3>
      <!-- <p>sleep good for helth</p> -->
    </div>
    <div class="service-box">
      <img src="./image/services/cupboard.png" alt="furniture" srcset="" />
      <h3>Cupboard</h3>
      <!-- <p>sleep good for helth</p> -->
    </div>
    <div class="service-box">
      <img src="./image/services/furniture.png" alt="furniture" srcset="" />
      <h3>Locker</h3>
      <!-- <p>sleep good for helth</p> -->
    </div>
    <div class="service-box">
      <img src="./image/services/lamp.png" alt="furniture" srcset="" />
      <h3>Mini Drawer</h3>
      <!-- <p>sleep good for helth</p> -->
    </div>
    <div class="service-box">
      <img src="./image/services/nightstand.png" alt="furniture" srcset="" />
      <h3>Showcase</h3>
      <!-- <p>sleep good for helth</p> -->
    </div>
    <div class="service-box">
      <img
        src="./image/services/computer-table.png"
        alt="furniture"
        srcset=""
      />
      <h3>Computer Table</h3>
      <!-- <p>sleep good for helth</p> -->
    </div>
    <div class="service-box">
      <img
        class="myasd"
        src="./image/services/wardrobe.png"
        alt="furniture"
        srcset=""
      />
      <h3>Large Showcase</h3>
      <!-- <p>sleep good for helth</p> -->
    </div>

    <div class="service-box">
      <img
        loading="lazy"
        src="./image/services/cupboard1.png"
        alt="furniture"
        srcset=""
      />
      <h3>Cupboard Table</h3>
      <!-- <p>sleep good for helth</p> -->
    </div>
    <div class="service-box">
      <img
        loading="lazy"
        src="./image/services/tea-table.png"
        alt="furniture"
        srcset=""
      />
      <h3>Tea Table</h3>
      <!-- <p>sleep good for helth</p> -->
    </div>
    <div class="service-box">
      <img
        loading="lazy"
        src="./image/services/rack.png"
        alt="furniture"
        srcset=""
      />
      <h3>Rack</h3>
      <!-- <p>sleep good for helth</p> -->
    </div>
    <div class="service-box">
      <img
        loading="lazy"
        src="./image/services/windows.png"
        alt="furniture"
        srcset=""
      />
      <h3>Window</h3>
      <!-- <p>sleep good for helth</p> -->
    </div>
    <div class="service-box">
      <img
        loading="lazy"
        src="./image/services/door.png"
        alt="furniture"
        srcset=""
      />
      <h3>Door</h3>
      <!-- <p>sleep good for helth</p> -->
    </div>
    <div class="service-box">
      <img loading="lazy" src="./image/services/beds.png" alt="furniture" />
      <h3 class="icone-heading">Bed</h3>
      <!-- <p>sleep good for helth</p> -->
    </div>
  </div>
</section>
<!-- ===========
  our about section end
    ============ -->
<!-- ==================
      preralex effect start
    =========================== -->
<section class="section-parallax">
  <div class="overlay"></div>
  <div class="container-of-parallax">
    <h2 class="parallax-heading">
      Hey am <span>Abir</span> & <span>Web Developer</span>
    </h2>
    <code style="font-size: 2rem; color: #fff">
      If you want to create such think you can hire us.
    </code>
    <!-- <a href="#about" class="btnL">here me</a> -->
  </div>
</section>
<section class="section-contact" id="contact-us">
  <div class="contact">
    <div class="container">
      <div class="common-heading">
        <h2 class="contact-heading">Contact Us</h2>
      </div>
    </div>
    <!-- <iframe
      style="padding: 1.5rem 1.5rem"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2738.1475113428028!2d87.99787228775757!3d22.673394861747347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xad171e4ad1519f6!2zTWFoYXByYWJodSBmdXJuaXR1cmUgKOCmruCmueCmvuCmquCnjeCmsOCmreCngSDgpqvgpr7gprDgp43gpqjgpr_gpprgpr7gprAp!5e0!3m2!1sen!2sin!4v1667241319339!5m2!1sen!2sin"
      width="100%"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe> -->
    <div class="section-contact-main contact-container">
      <form action="https://formspree.io/f/xnqrovrv" method="POST">
        <div class="grid-contact grid-two-colum-contact">
          <div>
            <label for="userName"></label>
            <input
              type="text"
              id="userName"
              placeholder="enter your name"
              name="userName"
              required
              autocomplete="off"
            />
          </div>
          <div>
            <label for="email"></label>
            <input
              type="email"
              id="email"
              placeholder="example@gmail.com"
              name="email"
              required
              autocomplete="off"
            />
          </div>
        </div>
        <div>
          <label for="subject"></label>
          <input
            type="text"
            id="subject"
            placeholder="subject"
            name="subject"
            required
            autocomplete="off"
          />
        </div>
        <div>
          <label for="textArea"></label>
          <textarea
            name="textArea"
            id="textArea"
            cols="30"
            rows="10"
            minlength="6"
            placeholder="write message!"
            required
          ></textarea>
        </div>
        <div>
          <label for="submit"></label>
          <input
            type="submit"
            class="btn-contact"
            name="submit"
            style="width: 15rem"
            id="submit"
            value="Send Message"
          />
        </div>
      </form>
    </div>
  </div>
</section>

<script type="text/javascript" defer src="/js/landingScript.js"></script>
<script type="text/javascript" defer src="/js/nevBar.js"></script>

<%- include('../footer.ejs'); -%>
