<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/bootstrap@5.0.2/js/bootstrap.min.js"></script> -->

<!-- Footer -->
<footer class="section-footer" id="footer">
  <div class="container grid grid-four-column">
    <div class="f-about">
      <h3>About</h3>
      <span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, sit
        itaque laboriosam aperiam quidem id aspernatur, sunt rem dolores
        molestias non unde sequi beatae quibusdam ducimus iste cum facere aut.
      </span>
    </div>
    <!-- about end -->
    <div class="f-links">
      <h3>Links</h3>
      <ul>
        <li>
          <span class="material-symbols-outlined"> double_arrow </span
          ><a href="#">Home</a>
        </li>
        <li>
          <span class="material-symbols-outlined"> double_arrow </span
          ><a href="#">About</a>
        </li>
        <li>
          <span class="material-symbols-outlined"> double_arrow </span
          ><a href="#">Service</a>
        </li>
        <li>
          <span class="material-symbols-outlined"> double_arrow </span
          ><a href="#">Contact</a>
        </li>
      </ul>
    </div>
    <!-- Links end -->
    <div class="f-services">
      <h3>Services</h3>
      <ul>
        <li>
          <span class="material-symbols-outlined"> double_arrow </span
          ><a href="#">Bed</a>
        </li>
        <li>
          <span class="material-symbols-outlined"> double_arrow </span
          ><a href="#">Cheir</a>
        </li>
        <li>
          <span class="material-symbols-outlined"> double_arrow </span
          ><a href="#">Cupboard</a>
        </li>
        <li>
          <span class="material-symbols-outlined"> double_arrow </span
          ><a href="#">Locker</a>
        </li>
        <li>
          <span class="material-symbols-outlined"> double_arrow </span
          ><a href="/home/">Mini Drawer</a>
        </li>
        <li>
          <span class="material-symbols-outlined"> double_arrow </span
          ><a href="#">Showcase</a>
        </li>
        <li>
          <span class="material-symbols-outlined"> double_arrow </span
          ><a href="#">Computer Table</a>
        </li>
        <li>
          <span class="material-symbols-outlined"> double_arrow </span
          ><a href="#">Large Showcase</a>
        </li>
        <li>
          <span class="material-symbols-outlined"> double_arrow </span
          ><a href="#">Table</a>
        </li>
        <li>
          <span class="material-symbols-outlined"> double_arrow </span
          ><a href="#">Tea Table</a>
        </li>
      </ul>
    </div>
    <div class="f-address">
      <h3>Have a Question</h3>
      <address>
        <div>
          <code>
            <span class="material-symbols-outlined"> location_on </span> Howrah,
            india
          </code>
        </div>
        <div>
          <code>
            <span class="material-symbols-outlined"> call </span>
            <a href="tel:+91 9064749861">+91 9064749861</a>
          </code>
        </div>
        <div>
          <code>
            <span class="material-symbols-outlined"> mail </span> 
            <a href="mailto:mahapravufurniture@gmail.com">mahapravufurniture@gmail.com</a>
          </code>
        </div>
      </address>
    </div>
  </div>
  <div class="container">
    <div class="f-social-icons">
      <a href="https://www.facebook.com/abir.santra.330/" target="_blank">
        <i class="fa-brands fa-square-facebook social-icone"></i>
      </a>
      <a href="https://www.instagram.com/abir_santra_ig/" target="_blank">
        <i class="fa-brands fa-square-instagram social-icone"></i>
      </a>
      <a href="https://twitter.com/AbirSantra9" target="_blank">
        <i class="fa-brands fa-square-twitter social-icone"></i>
      </a>
      <a href="https://github.com/Jonty-Abir" target="_blank">
        <i class="fa-brands fa-square-github social-icone"></i>
      </a>
    </div>
    <div class="f-credits">
      <span>Copyright © <%= fullYear %> @mahapravufurniture </span>
    </div>
  </div>
</footer>

</body>
</html>

<!-- ===============================================

for refarencee


===================================================-->
<!-- 
 
