
        <%- include('./header.ejs'); -%>
        <!-- <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto"> -->
          <div class="card card0 border-0">
            <div class="row d-flex">
              <div class="col-lg-6">
                <div class="card1 pb-5">
                  <div class="row">
                    <img src="/image/socialMedia.gif" class="logo socialMedia" style="height: 10rem; width: 12rem;"  />
                  </div>
                  <div
                    class="row px-3 justify-content-center mt-4 mb-5 border-line"
                  >
                    <img src="https://i.imgur.com/uNGdWHi.png" class="image factory" />
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                  <div class="row mb-4 px-3">
                    <h2 class="mb-0 mr-4 mt-2" style="font-weight: 600;">Sign in with</h2>
                    <div 
                      class="facebook text-center mr-3"
                      style="margin-top: 10px; margin-right: 5px"
                    >
                      <div class="fa fa-facebook"></div>
                      
                    </div>
                    <div
                      class="twitter text-center mr-3"
                      style="margin-top: 10px; margin-right: 5px"
                    >
                      <div class="fa fa-twitter"></div>
                    </div>
                    <div
                      class="facebook text-center mr-3"
                      style="margin-top: 10px; margin-right: 5px;background-color: black;"
                    >
                      <div class="fa fa-github" style=" font-size: 30px;; display: flex; justify-content: center;"></div>
                    </div>
                    <div
                      class="linkedin text-center mr-3"
                      style="margin-top: 10px"
                    >
                      <div class="fa fa-linkedin"></div>
                    </div>
                  </div>
                  <div class="row px-3 mb-4">
                    <div class="line"></div>
                    <small class="or text-center">Or</small>
                    <div class="line"></div>
                  </div>
                 <%- include('./partials/loginFrom.ejs'); %>
                  <div class="row mb-4 px-3">
                    <small class="font-weight-bold"
                      >Don't have an account?
                      <a class="text-danger" href="/reg">Sign up</a></small
                    >
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
<script type="text/javascript" defer src="/js/nevBar.js"></script>
      </div>
    <!-- </div> -->
    <%- include('./footer.ejs'); -%>
 
