<%- include("./header.ejs") -%>
<div
  style="
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  "
>
  <h2 style="color: #f5f4f5">
    Page Was Not Found
    <span><img src="/image/404.svg" alt="emoji" srcset="" /></span>
  </h2>
</div>
<script type="text/javascript" defer src="/js/nevBar.js"></script>

<%- include("./footer.ejs") -%>
