<%- include('./header.ejs'); -%>
<div class="sing_main">
  <div class="card text-black medium" style="width: 100vw; margin-top: 5.8rem">
    <div class="card-body p-md-5">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
          <h2 class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</h2>

          <%- include("./partials/signupFrom.ejs"); %>
        </div>
        <div
          class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
        >
          <img
            src="/image/forSignUp.svg"
            class="img-fluid img"
            alt="Sample image"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" defer src="/js/script.js"></script>
<script type="text/javascript" defer src="/js/nevBar.js"></script>

<%- include('./footer.ejs'); -%>
